.layoutContainer {
  /* width: 100%; */
  /* border: 1px solid #fff; */
}

.layoutContainer nav {
  margin: 1rem 0;
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.layoutContainer nav a:hover {
  color: #e0e1dd;
}

.active {
  border-radius: 500px;
  background-color: #2b2b2b;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.inactive {
  color: #abafab;
  text-decoration: none;
}
