.songCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid hsl(60, 5%, 20%);
  background-color: #11110b;
  padding: 12px 18px;
  color: hsl(40, 3%, 50%);
  border-radius: 500px;
  margin: 0.2rem 0;
  font-weight: bold;
}

.songDataContainer {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.songCardContainer button {
  background-color: var(--secondary-button-color);
  margin-left: 0.5rem;
  padding: 10px 12px;
  border-radius: 50%;
}
